{
    "redirect_uri": "https://<my-domain>/authcallback",
    "root_return_to": "https://<my-app>/callback",
    "root_default_provider": "<provider-tag-1>",
    "url_expiration_timeout": 300,
    "real_time_validate_default": false,
    "real_time_validate_cache_retention_timeout": 60,
    "providers": {
        "<provider-tag-1>": {
            "standard": "OpenID Connect",
            "client_id": "<client-id>",
            "client_secret": "<client-secret>",
            "metadata_url": "https://<provider-1-domain>/.well-known/openid-configuration"
        },
        "<provider-tag-2>": {
            "standard": "OAuth 2.0",
            "client_id": "<client-id>",
            "client_secret": "<client-secret>",
            "authorization_endpoint": "https://<provider-2-domain>/<authorization-path>",
            "token_endpoint": "https://<provider-2-domain>/<token-path>"
        }
    }
}
