{
    "user": "[dbuser]",
    "password": "[64byte hex]",
    "host": "[host]",
    "port": "[port]",
    "backend": "django.db.backends.[postgresql_psycopg2 or postgresql (default if line ommitted: postgresql)]"
}
