{
    "redirect_uri": "https://<my-domain>/authcallback",
    "callback_queue_len": 50,
    "providers": {
        "<provider-tag-1>": {
            "standard": "OpenID Connect",
            "client_id": "<client-id>",
            "client_secret": "<client-secret>",
            "metadata_url": "https://<provider-1-domain>/.well-known/openid-configuration"
        },
        "<provider-tag-2>": {
            "standard": "OAuth 2.0",
            "client_id": "<client-id>",
            "client_secret": "<client-secret>",
            "authorization_endpoint": "https://<provider-2-domain>/<authorization-path>",
            "token_endpoint": "https://<provider-2-domain>/<token-path>"
        }
    }
}
